doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color' content='#4DA5F4')
        meta(name='csrf-token', content=_csrf)
        title Wangen Hilft
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/offer_overview.css')
        link(rel='stylesheet', href='/js/lib/selectizejs/css/selectize.custom.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js')
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.js')
        script(src='/js/lib/selectizejs/js/standalone/selectize.min.js')
        //- link(rel='stylesheet', href='/js/lib/selectizejs/css/selectize.bootstrap3.css')
        block head

    body
        include partials/header

        .container
            br
            include partials/flash
            block content

        include partials/footer

        script(src='/js/main.js')
